.tedi-dropdown-content {
  display: flex;
  flex-direction: column;
  width: max-content;
  min-width: var(--_tedi-dropdown-trigger-width);
  overflow: auto;
  background: var(--dropdown-item-default-background);
  border: 1px solid var(--card-border-primary);
  border-radius: var(--form-select-area-radius);
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%);

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}