tedi-header-profile {
  --header-profile-offset: var(--layout-header-height);

  align-content: center;

  [tedi-popover-trigger] .tedi-header-profile__icon--expand {
    transition: transform 0.2s ease-in-out;
  }

  [tedi-popover-trigger][aria-expanded="true"]
    .tedi-header-profile__icon--expand {
    transform: rotate(-180deg);
  }

  tedi-icon.tedi-header-profile__icon {
    font-size: var(--icon-06);

    &.tedi-header-profile__icon--small {
      font-size: var(--icon-03);
    }
  }

  tedi-icon.tedi-header-profile__icon--expand {
    font-size: var(--icon-03);
  }

  .tedi-header-profile__label {
    white-space: nowrap;
  }

  .tedi-header-profile__overlay {
    position: absolute;
    top: var(--header-profile-offset);
    left: 0;
    z-index: calc(var(--z-index-header) - 1);
    width: 100%;
    height: calc(100dvh - var(--header-profile-offset));
    background: rgb(0 0 0 / 25%);
  }

  .tedi-header-profile__modal {
    position: absolute;
    top: var(--header-profile-offset);
    right: 0;
    z-index: var(--z-index-header);
    display: flex;
    flex-direction: column;
    width: var(--navigation-vertical-item-width-default);
    max-width: 100%;
    height: calc(100dvh - var(--header-profile-offset));
    overflow-y: auto;
    background: var(--general-surface-primary);
    border-top: 1px solid var(--general-border-primary);

    &:not(&--no-style) > *:not(.tedi-header-role) {
      padding: var(--layout-header-modal-item-padding);
      border-bottom: var(--tedi-borders-01) solid var(--general-border-primary);
    }

    tedi-header-logout .tedi-header-mobile-button {
      flex-direction: row;
      gap: var(--link-inner-spacing-x);
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: auto;
      min-height: 0;
      padding: 0;
      font-size: var(--body-regular-size);

      .tedi-header-mobile-button__inner {
        flex-direction: row;
        gap: var(--link-inner-spacing-x);
        align-items: center;
      }

      .tedi-header-mobile-button__text {
        font-size: inherit;
      }

      tedi-icon {
        font-size: var(--icon-02);
      }
    }

    tedi-header-logout .tedi-header-logout__button tedi-icon {
      font-size: var(--icon-02);
    }
  }
}

.tedi-header-profile__popover tedi-header-logout tedi-icon {
  font-size: var(--icon-02);
}
