$card-colors: (
  "accent": "--card-background-accent",
  "brand-primary": "--card-background-brand-primary",
  "brand-secondary": "--card-background-brand-secondary",
  "brand-tertiary": "--card-background-brand-tertiary",
  "brand-quaternary": "--card-background-brand-quaternary",
  "primary": "--card-background-primary",
  "secondary": "--card-background-secondary",
  "tertiary": "--card-background-tertiary",
  "info-primary": "--general-status-info-background-light",
  "info-secondary": "--general-status-info-background-dark",
  "neutral-primary": "--general-status-neutral-background-light",
  "neutral-secondary": "--general-status-neutral-background-dark",
  "success-primary": "--card-background-success",
  "success-secondary": "--general-status-success-background-secondary",
  "danger-primary": "--general-status-danger-background-primary",
  "danger-secondary": "--general-status-danger-background-secondary",
  "warning-primary": "--general-status-warning-background-light",
  "warning-secondary": "--general-status-warning-background-dark",
);

@mixin card-padding {
  padding: var(--card-content-padding-top) var(--card-content-padding-right)
    var(--card-content-padding-bottom) var(--card-content-padding-left);
}

@mixin card-backgrounds($block) {
  @each $name, $color-var in $card-colors {
    .#{$block}--background--#{$name} {
      background-color: var(#{$color-var});
    }
  }

  .#{$block}--background--brand-primary,
  .#{$block}--background--brand-secondary {
    color: var(--general-text-white);
  }
}

@mixin card-cell($block) {
  .#{$block}--auto-width {
    flex: 0 0 auto;
  }
}
