@use "@tedi-design-system/core/bootstrap-utility/breakpoints";

input[tedi-checkbox][type="checkbox"] {
  --_checkbox-icon-size: 1.125rem;

  position: relative;
  width: var(--form-checkbox-radio-size-responsive);
  min-width: var(--form-checkbox-radio-size-responsive);
  height: var(--form-checkbox-radio-size-responsive);
  padding: 0;
  margin: 0;
  vertical-align: middle;
  appearance: none;
  cursor: pointer;
  background-color: var(--form-checkbox-radio-default-background-default);
  border: 1px solid var(--form-checkbox-radio-default-border-default);
  border-radius: var(--form-checkbox-radio-indicator-radius-checkbox);

  @include breakpoints.media-breakpoint-up(sm) {
    --_checkbox-icon-size: 1rem;
  }

  &:not(:disabled):hover {
    border-color: var(--form-checkbox-radio-default-border-hover);
    box-shadow: 0 0 0 1px var(--form-checkbox-radio-default-border-hover);
  }

  &:not(:disabled):active {
    background-color: var(--form-checkbox-radio-default-background-active);
    border-color: var(--form-checkbox-radio-default-border-active);
    box-shadow: none;
  }

  &:not(:checked):disabled {
    cursor: not-allowed;
    background-color: var(--form-general-background-disabled);
    border-color: var(--form-general-border-disabled);
  }

  &:checked,
  &:indeterminate {
    background-color: var(--form-checkbox-radio-default-background-selected);
    border-color: var(--form-checkbox-radio-default-border-selected);

    &:disabled {
      cursor: not-allowed;
      background-color: var(--form-checkbox-radio-default-background-selected-disabled);
      border-color: var(--form-checkbox-radio-default-border-selected-disabled);
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      font-family: "Material Symbols Outlined", sans-serif;
      font-size: var(--_checkbox-icon-size);
      line-height: 1;
      color: var(--form-checkbox-radio-default-check-indicator-default);
      content: "check";
      transform: translate(-50%, -50%);
      -webkit-font-smoothing: antialiased;
    }
  }

  &:checked {
    &::before {
      content: "check";
    }
  }

  &:indeterminate {
    &::before {
      content: "remove";
    }
  }

  &:focus-visible {
    outline: var(--tedi-borders-02) solid var(--tedi-primary-500);
    outline-offset: var(--tedi-borders-01);
  }

  &:not(:checked, :disabled).tedi-checkbox--invalid,
  &:not(:checked, :disabled):user-invalid,
  &:not(:checked, :disabled).ng-invalid.ng-touched {
    background-color: var(--form-checkbox-radio-default-background-error);
    border-color: var(--form-general-feedback-error-border);

    &:hover {
      border-color: var(--form-general-feedback-error-border);
      box-shadow: 0 0 0 1px var(--form-general-feedback-error-border);
    }
  }

  &.tedi-checkbox--large {
    --_checkbox-icon-size: 1.125rem;

    width: var(--form-checkbox-radio-size-large);
    height: var(--form-checkbox-radio-size-large);
  }
}

label:has(input[tedi-checkbox]:not(:disabled)) {
  cursor: pointer;
}

label:has(input[tedi-checkbox]:disabled) {
  cursor: not-allowed;
}

label:has(input[tedi-checkbox])+tedi-feedback-text {
  padding-left: var(--form-checkbox-radio-size-responsive);
  margin-left: var(--form-checkbox-radio-inner-spacing);
}
