.tedi-footer-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: var(--layout-grid-gutters-24);
  align-items: center;
  justify-content: center;
  padding: var(--layout-footer-bottom-padding-y)
    var(--layout-footer-bottom-padding-x);
  background-color: var(--footer-bottom-background);

  &--mobile {
    gap: var(--layout-grid-gutters-16);
  }
}
