@use "@tedi-design-system/core/bootstrap-utility/breakpoints";

:root {
  --_header-role-transition-duration: 0.3s;
}

.tedi-header-role {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: unset;
  background-color: var(--general-surface-secondary);
  border-bottom: var(--tedi-borders-04) solid var(--general-border-brand);

  @include breakpoints.media-breakpoint-up(lg) {
    background-color: transparent;
    border-bottom: 0;
  }

  [tedi-popover-trigger] .tedi-header-role__chevron {
    margin: 0;
    transition: transform 0.2s ease-in-out;
  }

  [tedi-popover-trigger][aria-expanded="true"] .tedi-header-role__chevron {
    transform: rotate(-180deg);
  }

  &__head {
    display: flex;
    gap: var(--layout-grid-gutters-04);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--card-padding-md-default);
    transition: padding var(--_header-role-transition-duration) ease;

    @include breakpoints.media-breakpoint-up(lg) {
      justify-content: flex-start;
      padding: 0;
    }

    .tedi-header-role__info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &--inline {
        flex-direction: row;
        gap: var(--layout-grid-gutters-08);
        align-items: center;
      }
    }

    .tedi-header-role__info-title {
      display: flex;
      flex-wrap: wrap;
      gap: var(--layout-grid-gutters-04);
      align-items: center;
    }

    button {
      gap: var(--link-inner-spacing-x);
      padding: 0;
      border: none;

      tedi-icon {
        transition: transform 0.2s ease-in-out;

        &[data-open="true"] {
          transform: rotate(-180deg);
        }
      }
    }
  }

  &__dropdown {
    display: flex;
    flex-direction: column;
    gap: var(--layout-grid-gutters-16);

    > * {
      &:not(:first-child) {
        position: relative;

        &::after {
          position: absolute;
          top: calc(-1 * (var(--layout-grid-gutters-16) / 2 + 1px));
          left: 0;
          width: 100%;
          height: 1px;
          content: "";
          background-color: var(--general-border-primary);
        }
      }
    }
  }

  &__value {
    min-width: max-content;
  }

  &__representative {
    display: flex;
    gap: var(--layout-grid-gutters-08);
    align-items: center;
    width: 100%;
    padding: var(--card-padding-xs);
    font-size: var(--body-regular-size);
    color: var(--general-text-secondary);
    text-align: start;
    cursor: pointer;
    background: transparent;
    border: 0;
    border-radius: var(--card-radius-rounded);

    &:not([data-selected="true"]):hover {
      color: var(--general-text-primary);
      background: var(--header-popover-item-hover);
    }

    &:not([data-selected="true"]):active {
      color: var(--general-text-white);
      background: var(--header-popover-item-active);
    }

    &:focus-visible {
      outline: var(--tedi-borders-02) solid var(--tedi-primary-500);
      outline-offset: var(--tedi-borders-01);
    }

    &[data-selected="true"] {
      color: var(--general-text-white);
      background: var(--header-popover-item-selected);
    }

    tedi-icon {
      color: inherit;
    }

    [tedi-text] {
      color: inherit;
    }
  }

  &__no-results {
    padding-top: var(--layout-grid-gutters-08);
    color: var(--general-text-secondary);
    text-align: center;
  }

  &__collapse {
    display: grid;
    visibility: hidden;
    grid-template-rows: minmax(0, 0fr);
    width: 100%;
    overflow: hidden;
    transition: grid-template-rows var(--_header-role-transition-duration) ease;

    &[data-open="true"] {
      visibility: visible;
      grid-template-rows: minmax(0, 1fr);

      .tedi-header-role__collapse--items {
        visibility: visible;
      }
    }

    &--items {
      display: flex;
      visibility: hidden;
      flex-direction: column;
      gap: var(--layout-grid-gutters-16);
      min-height: 0;
      padding: 0 var(--card-padding-md-default) var(--card-padding-md-default)
        var(--card-padding-md-default);
      overflow: hidden;
      transition: visibility var(--_header-role-transition-duration) ease;

      > * {
        &:not(:first-child) {
          position: relative;

          &::after {
            position: absolute;
            top: calc(-1 * (var(--layout-grid-gutters-16) / 2 + 1px));
            left: 0;
            width: 100%;
            height: 1px;
            content: "";
            background-color: var(--general-border-primary);
          }
        }
      }
    }
  }
}
